<!DOCTYPE html>
<html lang="en">
<head>
    <title>TermoCat: Agregar Producto</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="logo.png" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap.min.css">

    <!-- Custom fonts for the dashboard template-->
    <link href="startbootstrap-sb-admin-2-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for the dashboard template-->
    <link href="startbootstrap-sb-admin-2-gh-pages/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="acercade.html">
                <div class="sidebar-brand-icon ">
                    <img src="logo.png" width="30" height="30">
                </div>
                <div class="sidebar-brand-text mx-3">TermoCat </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Usuario -->
            <li class="nav-item active">
                <a class="nav-link" href="usuario.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Explorar</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Configurar Empresa
            </div>

            <!-- Nav Item - AcercaDe -->
            <li class="nav-item">
                <a class="nav-link" href="acercade.html">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Acerca De</span></a>
            </li>

            <!-- Nav Item - Sucursales -->
            <li class="nav-item">
                <a class="nav-link" href="sucursales.html">
                  <i class="fas fa-fw fa-cog"></i>
                  <span>Sucursales</span>
                </a>
              </li>

            <!-- Nav Item - Productos -->
            <li class="nav-item">
                <a class="nav-link" href="productos.html">
                  <i class="fas fa-fw fa-cog"></i>
                  <span>Productos</span>
                </a>
              </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                    
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Nombre de Empresa</span>
                            </a>
                        </li>

                        <!-- Logout Button-->
                        <button class="btn btn-primary" type="button" href="#" data-toggle="modal" data-target="#logoutModal" >
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </button>                   
                    </ul>       
                </nav>
               
                <div class="container" style="text-align: center;margin-top: 100px; width: 500px;">
                    <h style="font-size: 50px; color: #37498d; font-family: Verdana, Geneva, Tahoma, sans-serif;">Agregar Producto</h>
                    <br/>
                    <br/>
                    <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="addon-wrapping">#</span>
                            </div>
                            <input id="id_sucursal" type="text" class="form-control" placeholder="#Sucursal" aria-label="#Sucursal" aria-describedby="addon-wrapping" onInput="empty()">
                    </div>
                    <br/>
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="addon-wrapping">i</span>
                        </div>
                        <input id="descripcion_producto" type="text" class="form-control" placeholder="Descripcion del producto" aria-label="Descripcion del producto" aria-describedby="addon-wrapping" onInput="empty()">
                    </div>
                    </br>
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="addon-wrapping">*</span>
                        </div>
                        <input id="existencia_producto" type="text" class="form-control" placeholder="Existencia del producto" aria-label="Existencia del producto" aria-describedby="addon-wrapping" onInput="empty()">
                    </div>
                    </br>
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="addon-wrapping">$</span>
                        </div>
                        <input id="costo_producto" type="text" class="form-control" placeholder="Costo del producto" aria-label="Costo del producto" aria-describedby="addon-wrapping" onInput="empty()">
                    </div>

                
                    <br/>
                    <button id="start3" type="button" class="btn btn-outline-primary">Aceptar</button>
                  </div>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecciona "Logout" si estas listo para cerrar sesion</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html" id="LogOut1">Logout</a>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="editE.js"></script>
    <script type="text/javascript" src="logout.js"></script>
    <script type="text/javascript" src="agregarP.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="startbootstrap-sb-admin-2-gh-pages/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="startbootstrap-sb-admin-2-gh-pages/js/demo/chart-area-demo.js"></script>
    <script src="startbootstrap-sb-admin-2-gh-pages/js/demo/chart-pie-demo.js"></script>

</body>
</html>